### EXPLORATORY DATA ANALYSIS
- Understanding the dataset to explore how the data is present in the database and if there is need of creating some aggregated tables that can help with:

    - Vendor selection for profitability
    - Product Pricing Optimization

In [5]:
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os

In [6]:
load_dotenv()

engine = create_engine(
    f"mysql+pymysql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}"
)

conn = engine.connect()
print("Connected successfully")

Connected successfully

In [7]:
tables = pd.read_sql("SHOW TABLES;", conn)
tables

  Tables_in_inventory_db
0        begin_inventory
1          end_inventory
2        purchase_prices
3              purchases
4                  sales
5         vendor_invoice